.myheader{

    font-family: 'Andale Mono', monospace;
    text-align: center;
    color: silver;


    
}
* {background-color: #060CE9;}

.countform{
    font-family: 'Andale Mono', monospace;
    text-align: center;
    color: silver

}