.appClass{
    font-family: 'Verdana';
    text-align: center;
    color: black;
    margin:20px;
}
/* *{
    border:2px solid red;
} */

.formSpace{
    padding:20px;
}
.topSpace{
    margin:10px auto;
}